{% load static %}
<div class="photo-container">
    {% for pub in publications %}
        <div class="card mb-3 post">
            <div class="card-header">
                {% if request.user.is_staff %}
                    <a href="{% url 'publications:publication_detail_to_moderate' pub.pk %}">
                {% else %}
                    <a href="{% url 'publications:publication_detail' pub.pk %}">
                {% endif %}
                    <div class="image">
                    <img src="{{ pub.image.url }}" class="card-img-top" alt="...">
                </div>
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title">{{ pub.title }}</h4>
                {% if pub.price %}
                    <h4 class="card-title">${{ pub.price }}</h4>
                {% endif %}
                <p class="card-text">by <a href="{% url 'accounts:user_detail' pub.user.pk %}"><span class="username-text">{{ pub.user.get_full_name }}</span></a></p>
                <p class="card-text text-{% if pub.moderation_status == 'VALID' %}success{% elif pub.moderation_status == 'INVALID'%}danger{% else %}primary{% endif %}">{{ pub.get_moderation_status_display }}</p>
                {% if pub.published_at %}
                <small class="text-muted">Published: {{ pub.published_at }}</small>
                {% endif %}
            </div>
        </div>
    {% empty %}
        <p>Publications not found</p>
    {% endfor %}
</div>
{% if is_paginated %}
    {% include 'common/paginator.html' %}
{% endif %}